header {
    position: sticky;
    top: 0;
    // left: 0;
    z-index: 2;
    width: 100%;
    background-color: $color-white-0;
    .myNavBar {
        .logoWeb {
            img {
                width: 50px;
                height: 50px;
            }
        }
        .myCollapse {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        @include styleText($color-black-0, $fs-6, $fw-normal);
                        &:hover {
                            color: $color-red-0;
                        }
                    }
                }
                // .nav-item.active {
                //     a {
                //         color: $color-red-0;
                //     }
                // }
            }
            .header__right {
                a:first-child {
                    @include styleText($color-gray-0, $fs-6, $fw-normal);
                    border-right: 1px solid #e5dcdc;
                    padding-right: 12px;
                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 25px;
                        margin-right: $mg-1;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
                a:nth-child(2) {
                    #selectLocation {
                        color: $color-gray-0;
                        option {
                            color: $color-black-0;
                        }
                    }
                }
                .openbtn {
                    font-size: 20px;
                    cursor: pointer;
                    background-color: $color-white-0;
                    color: $color-white-0;
                    padding: 10px 15px;
                    border: none;
                }
                .sidepanel {
                    width: 0;
                    position: fixed;
                    z-index: 10;
                    height: 250px;
                    top: 0;
                    right: 0;
                    background-color: $color-white-0;
                    overflow-x: hidden;
                    transition: 0.5s;
                    // border: 1px solid pink;
                    a {
                        padding: 8px 8px 8px 32px;
                        text-decoration: none;
                        @include styleText($color-black-0, $fs-2, $fw-normal);
                        display: block;
                        transition: 0.3s;
                    }
                    .closebtn {
                        position: absolute;
                        top: 0;
                        right: 25px;
                        font-size: 36px;
                    }
                    .sidepanel__dangNhap {
                        font-size: $fs-0;
                        &:hover {
                            span {
                                color: $color-red-0;
                            }
                        }
                    }
                }
            }
        }
    }
}
//Responsive
header {
    @include responsive("medium") {
        .myCollapse {
            .navbar-nav {
                .nav-item {
                    display: none;
                }
            }
            // .header__right{
            //     .sidepanel{
            //         display: none;
            //     }
            // }
        }
    }
}
header {
    @include responsive("medium-737") {
        .header__right {
            a {
                display: none;
            }
            .openbtn {
                display: block;
            }
        }
    }
}
